:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
  flex-direction: column;
transform: translateY(-90px);

}



form {
  width: 350px;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
     margin: auto; 
}



h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 22px;
  color: #532a2a;
}

button {
  width: 100%;
  font-size: 16px;
  padding: 10px;
  border-radius: 6px;
  border: none;
}

button.btn-warning {
  background-color: #532a2a;
  color: #fff;
}

button.btn-warning:hover {
  background-color: #908b81;
}
