<div class="card h-100 shadow-sm border-0 rounded-3">

  <img
    [src]="product.image || 'assets/images/placeholder.png'"
    class="card-img-top product-img"
    alt="{{ product.name }}">

  <div class="card-body text-center">

    <h5 class="card-title">{{ product.name }}</h5>

    <p class="price">{{ product.price | currency:'EGP' }}</p>

    <p class="stock"
       [ngClass]="{'in-stock': product.stock > 0, 'out-stock': product.stock <= 0}">
      {{ product.stock > 0 ? 'In Stock' : 'Out of Stock' }}
    </p>

    <div class="d-flex flex-wrap gap-2">
      <button class="btn btn-outline-primary w-100" (click)="viewDetails(product._id)">
        View Details
      </button>

      <button class="btn btn-success w-100" (click)="addToCart(product)">
        Add to Cart
      </button>

      <a [routerLink]="['/update', product._id]" class="btn btn-warning w-100">
         Update
      </a>

      <a [routerLink]="['/delete', product._id]" class="btn btn-danger w-100">
        Delete
      </a>
    </div>
  </div>
</div>
